/* Write your CSS below. Try to make it responsive (i.e. no horizontal scroll) */
*{
 margin: 0px;
    font-family:'Source Sans Pro', sans-serif;
}
#logo{
    margin-top: 0px;
width: 200px;
height: 200px;

}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#desc {
    border-bottom: 1px solid gray;
    height: 120px;
     width: 200px;
    } 
    figcaption{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   display: block;
  margin-right:20%; 
}

#cap{
    height: 100px;
    width: 250px;
    border-bottom: 1px solid gray;
}
#b{
    display: flex;
    
    
    
}
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

header{
     display: flex;
    justify-content: space-between;
}
section{
    
    margin-left: 20%;
    width: 70%;
}

li a {
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}


li a:hover {
  background-color: palevioletred;
}
#img1{
box-shadow: 0 0 15px 5px grey;
width: 300px;
 
}


@media (max-width:600px){
    .main{
        flex-direction:column;
    }
    figcaption{
        flex-direction: column;
    }
    
    nav{
         background-image: url(images/Menu_48px.png) ; 
        width: 40px;
        height: 50px;
   
        }
      ul{
          display: none;
      }

}

button{
    display: flex; background-color: palevioletred;
    color: white;
   
    padding: 10px 30px;
    border-color: palevioletred;
    width: 200px;
    
}
.d1{
    display: flex;
   }
.d1 ,.d2 ,.d3{
    margin-top: 2%;
}
.d2{
    display: flex;
  height: auto;
   display: inline-block;
 
}


.far{
    color: gold;
}
